
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.top-blob{
  position: absolute; 
  top: 0; 
  right: 0; 
  z-index: -1; 
  opacity: 0.8; 
}
 .bottom-blob { 
  position: absolute; 
  bottom: 0; 
  left: 0;
  z-index: -1; 
  opacity: 0.8;
}
.main-container {
  display: flex; 
  height: 100vh; 
  width: 100%;  
  align-items: center;
  justify-content: center; 
}
.flex-container {
  display: flex; 
  flex-direction: column;
  align-items: center;
  text-align: center; 
}

.startquiz-button {
  background-color: #4D5B9E; 
  border: none;
  font-size: 16px; 
  border-radius: 10px; 
  color: #F5F7FB; 
  padding: 15px 80px; 
  margin-top: 15px; 
}
label {
  font-size: 16px; 
  font-weight: bold; 
}
select {
  font-size: 18px; 
  color: #293264;
  margin-top: 8px; 
  margin-bottom: 5px; 
}
.loader {
position: absolute;
top: 0;
left: 0;
right: 0;
bottom: 0;
margin: auto;
border: 16px solid #f3f3f3; /* Light grey */
border-top: 16px solid #3498db; /* Blue */
border-radius: 50%;
width: 120px;
height: 120px;
animation: spin 2s linear infinite;

}
@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
.quiz-wrapper {
  display: flex; 
  width: 100%;
  justify-content: center;
}
.quiz-div{
  width: 500px; 
}
h2 {
  font-size: 60px; 
  margin-bottom: 10px;  
  color: #293264; 
  font-style: italic;
}

p {
  font-weight: bold;  
  color: #293264; 
}
button {
  cursor: pointer; 
  color: #293264;
  border: 1px solid #293264;
  border-radius: 15px;
  padding: 3px 15px; 
  margin-right: 5px; 
  margin-bottom: 5px;
  
}
.selected {
  background-color: #D6DBF5;
  border: 1px solid #D6DBF5; 
}
.correct {
  background-color: #94D7A2; 
  opacity: 0.7;
}
.incorrect {
 background-color: #F8BCBC; 
 opacity: 0.7; 
}
.others {
opacity: 0.5; 
}
.answer-div {
  text-align: center;
}
.checkanswers-button {
  background-color: #4D5B9E; 
  border: none;
  border-radius: 10px;  
  font-size: 14px; 
  color: #F5F7FB; 
  padding: 15px 80px;
}
